<div class="container">
  <div class="title-home">
    <h1>Satisfy</h1>
    <h2><span>YOUR TASTEBUDS</span></h2>
    <p>
      <span class="spanP">
        Treat yourself to a world-class dining experience with Satisfy, <br> our premier restaurant reservation service.
        <br> Whether you're in the mood for gourmet cuisine or casual dining, <br> we have a wide range of options to
        suit your
        tastes and preferences <br>
        With Satisfy, booking a table has never been easier. <br> <br> We'll take care of everything, from securing your reservation to ensuring that your dining experience is
        nothing short of exceptional.
        <br> <br>
        Don't settle for mediocre meals - indulge in the finest culinary delights with Satisfy.
      </span>
    </p>
  </div>
  <div class="image-container">
    <img class="img-2" src="assets/imgs/fake/fake-comedor-2.jpg" alt="">
  </div>
</div>