<header [ngClass]="{'transparent': isTransparent, 'black': !isTransparent}" fxLayout="column" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <a routerLink="/rooms">Rooms</a>
    <a routerLink="/explore">Explore</a>
    <a routerLink="/restaurant">Restaurant</a>
    <div class="logo" fxLayoutAlign="center center" routerLink="/">
      <img src="assets/imgs/Logo-Hotel-low.png" alt="">
    </div>
    <a routerLink="/about">About us</a>
    <a routerLink="/book">Contact us</a>
    <a routerLink="/login">Book</a>
</header>
  