.container {
    padding: 60px;
    gap: 50px;
    padding-right: 60px;
    min-height: 100%;
    min-width: 100%;
    background-color: #072230;
    margin: 0 auto;
}

.title-home h1{
    color: white;
    font-weight: bold;
    letter-spacing: 0.15em;
    font-family: 'Radley', serif;
}

.title-home{
    text-align: center;
    padding: 20px;
    min-height: 100%;
    min-width: 100%;
    background-color: #081820;
    margin: 0 auto;
}

.title-home h2 {
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding-bottom: 30px;
}

.bg-dark-blue {
    background-color: rgb(231, 241, 250);
    /* Color de fondo azul oscuro */
}

.bg-dark-blue img {
    height: 100%;
    width: 100%;
    min-height: 350px;
    min-width: 300px;
}

.img-container {
    padding-top: 20px;
}