<div class="container-main">
    <div class="title-container">
        <h1>Reserved dates</h1>
        <h3>Check out the dates in which our rooms are occupied</h3>
    </div>
</div>
<div class="container2">
  <ng-container *ngIf="nombreEncontrado; else noEncontrado">
  <app-table-reserved></app-table-reserved>
  <div class="btn-sub">
    <button mat-button color="primary" routerLink="/login">Regresar</button>
  </div>
</ng-container>
<ng-template #noEncontrado>
  <div class="btn-sub">
    <button mat-button color="primary" routerLink="/login">Regresar</button>
  </div>
</ng-template>
</div>

