<div class="container">
  <div class="title-home">
    <h1>Our Mission </h1>
    <h2><span>Our Vision</span></h2>
    <p>
      At our hotel, our mission is to provide a memorable and comfortable stay for our guests by delivering exceptional
      service, state-of-the-art amenities, and a warm and welcoming environment. We strive to be the premier destination
      for travelers seeking relaxation and rejuvenation. 
      <br> <br>
      Our vision is to be recognized as the best hotel in the area, setting the standard for excellence in hospitality.
      We value integrity, respect, and teamwork, and we are committed to continuous improvement in everything we do.
    </p>
  </div>
  <div class="image-container">
    <img class="img-1" src="assets/imgs/fake/recpecionist.jpg">
    <img class="img-2" src="assets/imgs/rooms/room16.jpg" alt="">
  </div>
</div>