<div class="container-main">
    <div class="title-container">
        <h1>Hotel Jacqueline | Rincón de Guayabitos | Mexico </h1>
        <h3>Your home away from home. Book with us.</h3>
        <div class="star-container">
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
        </div>
    </div>    
</div>
<app-section-home></app-section-home>
<app-section-experience></app-section-experience>
<app-section-satisfy></app-section-satisfy>
