<div class="container">
  <div class="image-container">
    <img class="img-2" src="assets/imgs/fake/fake-4.jpg" alt="">
  </div>
  <div class="title-home">
    <h1>Discover</h1>
    <h2><span>YOUR PARADISE</span></h2>
    <p>
      <span class="spanP">
        If you're looking for a getaway that combines adventure and relaxation, look no further than Discover. <br> Our
        Hotel specializes in creating best experiences that can bring you some of the most beautiful and pristine
        locations in the world.
      </span>
    </p>
  </div>
</div>