<div class="container">
  <div class="title-home">
    <h1>Your home</h1>
    <h2><span>AWAY FROM HOME</span></h2>
    <p>Experience the perfect blend of relaxation and sophistication at Your Home, our premier vacation rental service.
      We understand that your vacation time is precious and that you deserve a comfortable and stylish
      home-away-from-home experience.</p>
    <p>Our properties are thoughtfully curated and meticulously maintained, ensuring that every detail is taken care of,
      from luxurious linens to fully equipped kitchens. Whether you're looking for a romantic getaway for two or a
      family vacation, we have a wide range of properties to choose from, each with its own unique charm and character.
    </p>
    <p>With Your Home, you can truly unwind and let your cares melt away. Book your stay today and discover the ultimate
      in relaxation and comfort.</p>
  </div>
  <div class="image-container">
    <img class="img-1" src="assets/imgs/rooms/room-person-23.jpg">
    <img class="img-2" src="assets/imgs/rooms/room4.jpg" alt="">
  </div>
</div>