<div class="container">
  <div class="video-container">
    <iframe width="560" height="315" [src]="video | domseguro : 'https://www.youtube.com/embed/'" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="title-container">
    <h1>Explore</h1>
    <h2><span>YOUR PERFECT GATEWAY</span></h2>
    <p>
      Discover a world of indulgence and sophistication at our premier hotel, the perfect destination for your next
      getaway. With world-class amenities, luxurious accommodations, and unparalleled service, we offer a truly
      unforgettable experience that will leave you feeling relaxed, rejuvenated, and inspired.
    </p>
    <p>
      Whether you're traveling for business or pleasure, our hotel has everything you need to make your stay comfortable
      and enjoyable. From spacious rooms and suites to fine dining restaurants and a full-service spa, we have
      everything you need to unwind in style.
    </p>
    <p>
      Our expert staff is committed to providing you with personalized attention and exceptional service, ensuring that
      your every need is met. Whether you need help with dinner reservations or recommendations for local attractions,
      we are here to help.
    </p>
    <p>
      So why wait? Explore your perfect getaway and book your stay at our luxurious hotel today.
    </p>
  </div>
</div>