<div class="container">
  <div class="title-home">
    <h1>Satisfaction</h1>
    <h2><span>FLAVOR THAT DAZZLES</span></h2>
    <p>
      <span class="spanP">
        At our hotel, we understand that food is an important part of any travel experience. <br> That's why we take great
        pride in offering a dining experience that is sure to dazzle your <br> taste buds. <br> Our expert chefs use only the
        finest ingredients to create dishes that are as beautiful <br> as they are delicious.
      </span>
    </p>
  </div>
  <div class="image-container">
    <img class="img-2" src="assets/imgs/fake/hotel-fake.jpg" alt="">
  </div>
</div>