@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:host{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}